**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/.idea
**/node_modules
**/coverage
**/*.md
**/Dockerfile*
**/docker-compose*
**/.env
**/.dockerignore
**/InternalStorage/Documents/*
!**/InternalStorage/Documents/.gitkeep
**/.github
**/Migrations
